#==============================================================================
# MONITORING SECRETS
#==============================================================================

secrets/
.env

#==============================================================================
# MONITORING BACKUPS AND RESULTS
#==============================================================================

*.tar.gz
run-command-results/

#==============================================================================
# LOCAL OPERATING SYSTEM FILES
#==============================================================================

.DS_Store