#==============================================================================
# MONITORING STACK BACKUP TIMER
#==============================================================================

#==============================================================================
# TIMER SCHEDULE
#==============================================================================

[Unit]
Description=Run the monitoring stack backup every day

[Timer]
OnCalendar=*-*-* 02:30:00
RandomizedDelaySec=15m
Persistent=true
Unit=monitoring-stack-backup.service

#==============================================================================
# TIMER INSTALLATION
#==============================================================================

[Install]
WantedBy=timers.target
